<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>background</string>
		<key>Key</key>
		<string>tabFocus</string>
		<key>Title</key>
		<string>Tab Focus</string>
		<key>Titles</key>
		<array>
			<string>Background</string>
			<string>Foreground</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>background</string>
			<string>foreground</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>right</string>
		<key>Key</key>
		<string>tabPosition</string>
		<key>Title</key>
		<string>Tab Position</string>
		<key>Titles</key>
		<array>
			<string>Right of Active Tab</string>
			<string>Left of Active Tab</string>
			<string>Beginning</string>
			<string>End</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>right</string>
			<string>left</string>
			<string>beginning</string>
			<string>end</string>
		</array>
	</dict>
</array>
</plist>
